.img_container {
  width: 100%;
  text-align: center;
}

.image.rotate-y {
  animation: rotateY 3000ms 2 alternate ease-in-out 200ms;
  /* animation-name: rotateY;
  animation-duration: 3000ms;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-delay: 1000ms; */
}

@keyframes rotateY {
  0% {
    transform: perspective(600px) rotateY(0deg);
  }

  100% {
    transform: perspective(600px) rotateY(360deg);
  }
}
