:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-backgroung-color: #2f303a;
  --secong-background-color: #f5f4fa;
}

/* - - - - - - УТИЛІТИ - - - - - - */
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

/* Header Logo */
.header-logo,
.footer-logo {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header-logo.span {
  color: var(--second-text-color);
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

.list {
  padding: 20px;
  margin: 0;
  list-style: none;
}

.list-item:not(:last-child) {
  margin-bottom: 5px;
}

.list-link {
  display: inline-flex;
  align-items: center;
  color: currentColor;
  text-decoration: none;
  font-size: 32px;
}

.list-link::before,
.list-link::after {
  content: '';
  width: 24px;
  height: 24px;
}

/* Adds a fire icon in front of the link text */
.list-link::before {
  margin-right: 16px;
  background-image: url('https://image.flaticon.com/icons/svg/785/785116.svg');
}

/* Adds and hides the cat icon after the link text */
.list-link::after {
  display: none;
  margin-left: 16px;
  background-image: url('https://image.flaticon.com/icons/svg/616/616430.svg');
}

.list-link:hover {
  color: #2196f3;
}

/* Show the cat icon on hover */
.list-link:hover::after {
  display: block;
}
