/* body {
  color: #2a2a2a;
  font-size: 25px;
} */

/* .post {
  font-size: 25px;
  color: green;
}

.post-link {
  color: currentColor;
  text-decoration: none;
} */

/* root */
/* :root {
  --brand-color: #c9a781;
  --fon-color: #420e1e;
  --border-coloring: #37c4b8;
  --main-font-size: 50px;
  --page-color-fon: #ecc6f1;
} */
/* body {
  background-color: var(--page-color-fon);
}

.section {
  
  border: 6px solid var(--border-coloring);
  background-color: var(--fon-color);
}

.section-title {
  
  font-size: var(--main-font-size);
  color: var(--brand-color);
}

.section-title::before {
 
  background-color: var(--brand-color);
} */

/* 
.section {
  
  border: 2px solid #3f51b5;
}

.section-title {
  
  color: #3f51b5;
}

.section-title::before {
  
  background-color: #3f51b5;
} */

/* Область видимости */
.alert {
  --alert-text-color: black;
  --alert-accent-color: tomato;
}

.alert-text {
  color: var(--alert-text-color);
  border: 1px solid var(--alert-accent-color);
}

.alert-icon {
  background-color: var(--alert-accent-color);
}
