body {
  margin: 0;
  min-height: 100vh;
  font-size: 20px;
}

.body--index {
  background-color: rgb(202, 192, 194);
}

.body--form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: rgb(51, 70, 19);
  background-color: #bebec9;
}

.body--animation {
  color: slategray;
  background-color: rgb(224, 213, 224);
}
