.header {
  padding-left: 20px;
}

.header.header__other-pages {
  padding-top: 20px;
}

.header.header__other-pages.header--animation {
  position: absolute;
  z-index: 2;
  padding: 10px;
}

.header__title {
  font-family: sans-serif;
  font-size: 25px;
  color: rgb(110, 69, 110);
  margin-bottom: 15px;
}

.header__list {
  list-style: georgian outside url('/non-existent.svg');
  margin: 0;
}

.header__item:not(:last-child) {
  margin-bottom: 7px;
}

.header__link {
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(71, 27, 71);
  text-decoration: none;
}

.header__link.header__link--animation {
  color: rgb(72, 166, 197);
}
